<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibliothèque</title>
  <link rel="stylesheet" href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Ajouter ou modifier</h1>
    <a href="/logout">Se déconnecter</a>
    <a href="/index">Retour</a>
  </header>
  <div class="grid">
    <div class="grid-element">

      <h3>Ajouter genre</h3>
      <p class="success"><%=(typeof successGenre != 'undefined' ) ? successGenre : '' %></p>
      <p class="error"><%=(typeof errorGenre != 'undefined' ) ? errorGenre : '' %></p>

      <form action="/api/genres" method="post">

        <div class="group-form">
          <label for="libelle">Libelle</label>
          <input type="text" name="libelle" id="">
        </div>

        <div class="group-form">
          <label for="description">Description</label>
          <input type="text" name="description" id="">
        </div>
        <button type="submit">Envoyer</button>
      </form>
    </div>

    <div class="grid-element">

      <h3>Ajouter auteur</h3>
      <p class="success"><%=(typeof successAuteur != 'undefined' ) ? successAuteur : '' %></p>
      <p class="error"><%=(typeof errorAuteur != 'undefined' ) ? errorAuteur : '' %></p>

      <form action="/api/auteurs" method="post">

        <div class="group-form">
          <label for="name">Nom</label>
          <input type="text" name="name" id="">
        </div>

        <div class="group-form">
          <label for="firstname">Prénom</label>
          <input type="text" name="firstname" id="">
        </div>
        <button type="submit">Envoyer</button>
      </form>
    </div>

    <div class="grid-element">

      <h3>Ajouter livre</h3>
      <!-- si la variable existe elle s'affiche -->
      <p class="success"><%=(typeof successLivre != 'undefined' ) ? successLivre : '' %></p>
      <p class="error"><%=(typeof errorLivre != 'undefined' ) ? errorLivre : '' %></p>
      <form action="/api/livres" method="post">

        <div class="group-form">
          <label for="title">Titre</label>
          <input type="text" name="title" id="">
        </div>

        <div class="group-form">
          <label for="description">Description</label>
          <input type="text" name="description" id="">
        </div>
        <div class="group-form">
          <label for="image">Image - disabled</label>
          <input type="text" name="image" disabled>
        </div>
        <button type="submit">Envoyer</button>
      </form>
    </div>

  </div>
</body>

</html>